.sectionDetail {
    background-color:#283141;
    flex: 1;
}

.detailView {
    display: grid;
}

.imgContainer {
    margin: 1rem;
    justify-self: center;
}

.imgContainer img {
    height: 20rem;
}

.infoContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-self: center;
    text-align: center;
    width: 80%;
}

.plusButtonContainer {
    display: inline;
    align-self: center;
}

.textSong {
    font-size: 1.2rem;
}

.textBand {
    font-size: 1rem;
    opacity: 80%;
}

.favoriteButtonContainer {
    display: inline;
    align-self: center;
}

.progressBarContainer {
    display: grid;
    grid-template-columns: 3rem auto 3rem;
    justify-self: center;
    width: 60%;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.progressBar {
    background-color: #1e2229;
    display: flex;
    align-self: center;
    border-radius: 1rem;
    height: 0.5rem;
}

.progress {
    height: 100%;
    width: 20%;
    background-color: white;
    border-radius: 1rem;
}

.songControlsContainer {
    display: grid;
    grid-template-columns: 1fr 15rem 1fr;
    justify-self: center;
    margin-top: 1rem;
}

.songControlsContainer span {
    align-self: center;
}

.mainControlsContainer {
    justify-self: center;
}

.mainControlsContainer span {
    font-size: 4rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}