.sectionDetail {
    background-color:burlywood;
    flex: 1;
}

.detailView {
    display: grid;
}

.imgContainer {
    margin: 1rem;
    justify-self: center;
}

.imgContainer img {
    height: 25rem;
}

.infoContainer {
    justify-self: center;
    text-align: center;
}