.sectionDetail {
    background-color:burlywood;
    flex: 1;
}

.detailView {
    display: grid;
}

.imgContainer {
    margin: 1rem;
    justify-self: center;
}

.imgContainer img {
    height: 20rem;
}

.infoContainer {
    width: 80%;
    justify-self: center;
    text-align: center;
}

.plusButtonContainer {
    display: inline;
    float: left;
}

.favoriteButtonContainer {
    display: inline;
    float: right;
}

.infoContainer p {
    display: block;
}