/* background hex #1e2838 */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #283141;
    color: #ffff;
    margin: auto;
    margin-left: 2rem;
    margin-right: 2rem
}

.flexContainer {
    display: flex;
    max-width: 100vw;
    max-height: 100vh;
}

.material-icons {
    cursor: pointer;
}