.sectionList {
    background-color: #283141;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    min-width: 50vw;
    max-height: 89vh;
    margin: 0;
    padding: 0;

    overflow-y: scroll;
}

.songList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.songList li {
    border-bottom: 1px solid #1e2229;
    display: grid;
    grid-template-columns: auto 1fr 1fr auto;
}

.titleBand {
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-content: start;
    padding-left: 0.5rem;
    row-gap: 0;

    overflow: hidden;
    white-space: nowrap;
}

.albumContainer {
    align-self: center;
    padding-left: 0.5rem;

    overflow: hidden;
    white-space: nowrap;
}

.album {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.titleBandTitle {
    justify-self: start;
    align-self: end;
    font-size: 1.2em;
    width: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;
    text-overflow: ellipsis;
}

.titleBandBand {
    justify-self: start;
    align-self: start;
    font-size: 1rem;
    opacity: 80%;
    width: 100%;
    margin: 0;
    padding: 0;

    overflow: hidden;
    text-overflow: ellipsis;
}

.songList img {
    display: grid;
    height: 4rem;
}

.playButtonContainer {
    display: grid;
    justify-self: center;
    align-self: center;
    margin-right: 0.5rem;
}


@media screen and (max-width: 900px) {
    .albumContainer {
        display: none;
    }

    .songList li {
        grid-template-columns: auto 1fr auto;
    }

    .titleBand {
        padding-right: 0.5rem;
    }
}
