.sectionList {
    background-color: #283141;
    display: flex;
    flex-direction: column;
    max-width: 50vw;
    max-height: 100vh;
    margin: 0;
    padding: 0;

    overflow-y: scroll;
}

.songList {
    list-style: none;
    margin: 0;
    padding: 0;
}

.songList li {
    border-bottom: 1px solid #1e2229;
    display: grid;
    grid-template-columns: auto 1fr 3rem;
}

.info {
    display: grid;
    grid-template-rows: 50% 50%;
    align-items: center;
    justify-content: start;
    padding-left: 0.5rem;
    row-gap: 0;

    overflow: hidden;
    white-space: nowrap;
}

.infoSong {
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    align-self: end;
    justify-self: start;

    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.infoBand {
    font-size: 1rem;
    opacity: 80%;
    margin: 0;
    padding: 0;
    align-self: start;
    justify-self: start;

    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.songList img {
    display: grid;
    height: 4rem;
}

.buttonContainer {
    display: grid;
    justify-self: center;
    align-self: center;
}
